.root {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #424466;

    overflow-x: hidden;
}

.wall-left,
.wall-right{
    position: absolute;
    width: 87px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: 100;
}

.wall-left {
    background-image: url(../assets/img/wall-left.png);
    transform: translate(-450px, 0px);
    left: 50%;
}

.wall-right {
    background-image: url(../assets/img/wall-right.png);
    transform: translate(450px, 0px);
    right: 50%;
}

.arenas {
    width: 786px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.arenas.arena1 {
    background-image: url(../assets/img/scorpions-lair-arenas.png);
}

.arenas.arena2 {
    background-image: url(../assets/img/the-cave.png);
}

.arenas.arena3 {
    background-image: url(../assets/img/jade-s-desert.png);
}

.arenas.arena4 {
    background-image: url(../assets/img/scislac-busorez.png);
}

.arenas.arena5 {
    background-image: url(../assets/img/waterfront.png);
}


.player1,
.player2 {
    width: 50%;
    position: relative;
}

.progressbar {
    width: 295px;
    border: 4px solid #f5d100;
    position: absolute;
    top: 59px;
    height: 28px;
    background-color: #cd0e03;
    display: flex;
}

.player1 .progressbar {
    left: 38px;
}

.player2 .progressbar {
    right: 38px;
    flex-direction: row-reverse;
}

.extralife {
    width: 90px;
    border: 2px solid #f5d100;
    position: absolute;
    top: 85px;
    height: 12px;
    background-color: #cd0e03;
    display: flex;
}

.player1 .extralife {
    left: 38px;
}

.player2 .extralife {
    right: 38px;
    flex-direction: row-reverse;
}

.extralife .life {
    background: #00d600;
}

.life {
    background-color: #0431f9;
    height: 100%;
    width: 90%;
}

.name {
    position: absolute;
    font-family: 'Mortal Kombat 3';
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #efefef;
    top: 0;
    text-transform: capitalize;
}

.player1 .name {
    left: 5px;
}

.player2 .name {
    right: 5px;
}

.chat {
    width: 786px;
    height: 30vh;
    background: url(../assets/img/versus.png);
    background-size: cover;
    background-position: center;
    border-top: 4px solid #f5d100;

    padding: 10px 40px;
    overflow: scroll;
    
    font-size: 16px;
}

.chat > p{
    margin-bottom: 12px;
}

.chat_player-1,
.chat_player-2{
    font-weight: 700;

}

.chat_player-1{
    color: #ff0036;
}

.chat_player-2{
    color: #5FC0CE;
}

.character {
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 268px;
}

.player1 .character {
    left: 60px;
}

.player2 .character {
    right: 60px;
}

.player2 .character img {
    transform: scaleX(-1) translate(50%, 0);
}

.character img {
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.fight {
    position: absolute;
    z-index: 100;
    top: 20%;
    width: 300px;

    left: 50%;
    transform: translate(-50%, 0%);
}

.fight img {
    width: 100%;
}

.control {
    position: absolute;
    width: 280px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1000;

    font-family: 'Mortal Kombat 3';
    color: #efefef;
}

.button {
    display: block;
    position: relative;
    padding: 0 16px;
    height: 36px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #f45003;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    outline: none;

    animation-name: blinkButton;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


@keyframes blinkButton{
    0% { box-shadow: 0 0 5px #f45003 }

    15% { box-shadow: 0 0 5px #f45003,
                      0 0 25px #f45003 }
    30% { box-shadow: 0 0 5px #f45003,
                      0 0 25px #f45003,
                      0 0 50px #f45003 }
    45% { box-shadow: 0 0 5px #f45003,
                      0 0 25px #f45003,
                      0 0 50px #f45003,
                      0 0 200px #f45003 }
    60% { box-shadow: 0 0 5px #f45003,
                      0 0 25px #f45003,
                      0 0 50px #f45003 }
    85% { box-shadow: 0 0 5px #f45003,
                      0 0 25px #f45003 }

    100% { box-shadow: 0 0 5px #f45003 }
}



.control .button:disabled{
    box-shadow: none;
    opacity: 0.5;;
    animation-play-state: paused;
}


.loseTitle {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 36px;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    z-index: 1000;
    color: white;
    font-family: "Mortal Kombat 3";
}

.reload_wrap {
    position: absolute;
    top: 10%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: "Mortal Kombat 3";
    color:  #efefef;
}

.reload_wrap .button {
    margin-top: 0;
}


.inputWrap {
    position: relative;
    width: 280px;
    margin-bottom: 24px;
}

.buttonWrap {
    margin-top: 12px;
}

.inputWrap h2 {
    text-align: center;
    margin: 0 auto 20px;
    font-weight: 700;
    
    text-transform: uppercase;

    font-size: 20px;
}

.ul {
    border: solid 3px #cd0e03;
    height: 50px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    color: #efefef;

    font-size: 16px;
}
.ul label {
    cursor: pointer;
}
.ul label:nth-of-type(2) {
    margin: 0 -4.5px;
}
.ul label span {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    transition: 0.3s;
    text-align: center;
    margin-top: -3px;
}
.ul label span::before {
    position: relative;
    display: block;
    width: 80px;
    height: 50px;
    content: "";
    transform: scaleY(1.2);
    z-index: -1;
    margin-bottom: -50px;
    transition: 0.3s;
}
.ul label span:hover {
    background-color: rgba(107, 185, 240, 0.2);
}

input {
    display: none;
}
input[type=radio]:checked + label > span {
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
input[type=radio]:checked + label > span::before {
    background: #f5d100;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
input[type=radio]:checked + label > span:hover {
    background: none;
}

@media(max-width: 767.98px){

    .wall-left {
        transform: translate(-260px, 0px);
    }

    .wall-right {
        transform: translate(260px, 0px);
    }

    .arenas{
        width: 425px;
        justify-content: space-between;
    }

    .player1,
    .player2 {
        width: 45%;
    }

    .character {
        width: 100px;
        height: 210px;
    }

    .player1 .character {
        left: 20px;
    }

    .player2 .character {
        right: 20px;
    }

    .progressbar {
        width: 165px;
        border: 2px solid #f5d100;
        top: 40px;
        height: 24px;
    }

    .player1 .progressbar {
        left: 20px;
    }

    .player2 .progressbar {
        right: 40px;
    }

    .name {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .player1 .name {
        left: 5px;
    }

    .player2 .name {
        right: 5px;
    }

    .chat {
        width: 425px;
        font-size: 12px;
    }

    .control {
       width: 135px;
       font-size: 14px;
    }

    .button {
        padding: 0 10px;
        height: 28px;
        font-size: 12px;
       
    }

    .loseTitle{
        font-size: 14px;
    }

    .inputWrap{
        width: 215px;
    }

    .ul label span{
        width: 50px;
    }

    .ul{
        height: 45px;
    }

    .ul label span::before{
        width: 50px;
        height: 45px;
    }
}

@media(max-width: 425.98px){
    .inputWrap h2{
        font-size: 16px;
    }

    .ul{
        font-size: 12px;
    }
}

@media(max-width: 375.98px){

    .wall-left {
        transform: translate(-225px, 0px);
    }

    .wall-right {
       transform: translate(245px, 0px);
    }

    .arenas{
        width: 355px;
        justify-content: space-between;
    }

    .player1,
    .player2 {
        width: 45%;
    }

    .character {
        height: 190px;
    }

    .player1 .character {
        left: 10px;
    }

    .player2 .character {
        right: 10px;
    }

    .progressbar {
        width: 150px;
    }

    .player2 .progressbar {
        right: 20px;
    }

    
    .chat {
        width: 355px;
    }

    .control {
       width: 100px;
    }

    .button {
        padding: 0 10px;
        height: 28px;
        font-size: 12px;
        
    }
}


